<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet/less" type="text/css" href="styles.less">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.12.2/less.min.js"></script>
</head>
<body>

<div id="str_uslovi">
  <div class ="granish">
    <div id="content1" [ngStyle]="{'background-color': backgroundColor}">
      <div class = "nazvanie_okna_vibora">
        <div>Выбор размеров страницы</div>
      </div>
      <div class="selecting-screen-sizes">
        <button (click) =" Change_Size_Web('1366x768')">1366x768</button>
        <button (click) =" Change_Size_Web('1920x1080')">1920x1080</button>
        <button (click) =" Change_Size_Web('375x667')">375x667</button>
      </div>
      <div class = "podkluch_dannie">
        <button (click)="downloadExcelFile()">Загрузить шаблон</button>
        <input type="file" (change)="replaceExcelFile($event)" accept=".xlsx, .xls">
        <button id="replaceFileButton">Ок</button>
      </div>
      <section id="size_okna"></section>
      <section id="contact"></section>
      <div>
      </div>
    </div>
    <script>
      function changeBackgroundColor(color) {
        document.getElementById('content').style.backgroundColor = color;
      }
    </script>
  </div>
</div>

<div id="osnov_str">
  <div class ="granish">
    <div id="content" [ngStyle]="{'background-color': backgroundColor}">
      <div>
        <form>
          <nav class="znach_button">
            <input type="text" class="size-name" id="name_maket_dannix" [name]="NameMaket" placeholder="Введите название для макета" [(ngModel)]="NameMaket" [ngClass]="ChangeColor_dannie + '-field'" style="margin-bottom: 5px;" />
          </nav>
          <textarea type="text" class="size-opisania" id="text_opisania_dannix" [name]="TextOpisania" placeholder="Введите описание страницы" [(ngModel)]="TextOpisania" [ngClass]="ChangeColor_dannie + '-field'"></textarea>
        </form>
        <textarea type="text" class="information" id="contact_dannie_dannix" [name]="ContactDannie" placeholder="Контактные данные" [(ngModel)]="ContactDannie" [ngClass]="ChangeColor_dannie + '-field'"></textarea>
      </div>
    </div>
    <script>
      function changeBackgroundColor(color) {
        document.getElementById('content').style.backgroundColor = color;
      }
    </script>
  </div>
</div>

<div id="str_dannix">
  <div class ="granish">
    <header>
      <button class="round-button red" (click)="changeInputColor_geo_location('red')"></button>
      <button class="round-button blue" (click)="changeInputColor_geo_location('blue')"></button>
      <button class="round-button green" (click)="changeInputColor_geo_location('green')"></button>
      <button class="round-button orange" (click)="changeInputColor_geo_location('orange')"></button>
      <button class="round-button yellow" (click)="changeInputColor_geo_location('yellow')"></button>
      <button class="round-button greenyellow" (click)="changeInputColor_geo_location('greenyellow')"></button><nav class="header-nav">
    </nav>
    </header>
    <div id="content" [ngStyle]="{'background-color': backgroundColor}">
      <div>
        <form class="polia_dannix">
          <textarea type="text" class="size-opisania" id="text_opisania_first" [name]="dannie_info[0]" placeholder="Введите описание страницы" [(ngModel)]="dannie_info[0]" [ngClass]="ChangeColor_geo_location + '-field'"></textarea>
          <textarea type="text" class="size-opisania" id="text_opisania_second" [name]="dannie_info[1]" placeholder="Введите описание страницы" [(ngModel)]="dannie_info[1]" [ngClass]="ChangeColor_geo_location + '-field'"></textarea>
          <textarea type="text" class="size-opisania" id="text_opisania_third" [name]="dannie_info[2]" placeholder="Введите описание страницы" [(ngModel)]="dannie_info[2]" [ngClass]="ChangeColor_geo_location + '-field'"></textarea>
          <textarea type="text" class="size-opisania" id="text_opisania_fourth" [name]="dannie_info[3]" placeholder="Введите описание страницы" [(ngModel)]="dannie_info[3]" [ngClass]="ChangeColor_geo_location + '-field'"></textarea>
          <textarea type="text" class="size-opisania" id="text_opisania_fifth" [name]="dannie_info[4]" placeholder="Введите описание страницы" [(ngModel)]="dannie_info[4]" [ngClass]="ChangeColor_geo_location + '-field'"></textarea>
        </form>
      </div>
    </div>
    <script>
      function changeBackgroundColor(color) {
        document.getElementById('content').style.backgroundColor = color;
      }
    </script>
  </div>
</div>

<div id="geo_location">
  <div class="granish">
    <header>
      <button class="round-button red" onclick="changeBackgroundColor('red')"></button>
      <button class="round-button blue" onclick="changeBackgroundColor('blue')"></button>
      <button class="round-button green" onclick="changeBackgroundColor('green')"></button>
      <button class="round-button orange" onclick="changeBackgroundColor('orange')"></button>
      <button class="round-button yellow" onclick="changeBackgroundColor('yellow')"></button>
      <button class="round-button greenyellow" onclick="changeBackgroundColor('greenyellow')"></button>
      <nav class="header-nav"></nav>
    </header>
    <div id="content" [ngStyle]="{'background-color': backgroundColor}">
      <div class="granish">
        <input type="text" placeholder="Имя">
        <input type="text" placeholder="Фамилия">
        <input type="text" placeholder="Адрес">
      </div>
    </div>
  </div>
</div>
<script>
  function changeBackgroundColor(color) {
    document.getElementById('content').style.backgroundColor = color;
  }
</script>

<div id="companion">
  <div class ="granish">
    <header>
      <button class="round-button red" (click)="changeInputColor_companion('red')"></button>
      <button class="round-button blue" (click)="changeInputColor_companion('blue')"></button>
      <button class="round-button green" (click)="changeInputColor_companion('green')"></button>
      <button class="round-button orange" (click)="changeInputColor_companion('orange')"></button>
      <button class="round-button yellow" (click)="changeInputColor_companion('yellow')"></button>
      <button class="round-button greenyellow" (click)="changeInputColor_companion('greenyellow')"></button><nav class="header-nav">
    </nav>
    </header>
    <div id="content" [ngStyle]="{'background-color': backgroundColor}">
      <div class="polia_dannix">
        <div class="flex-container">
          <form class="polia_dannix">
          </form>
          <div>
            <input type="text" class="item-text" id="text_okonchania_first" [name]="zakluchenie[1]" placeholder="1.2K" [(ngModel)]="zakluchenie[1]" [ngClass]="ChangeColor_compation + '-field'">
            <p class="category-text">Количество пользователей</p>
          </div>

        </div>
        <div class="flex-container">
          <div>
            <input type="text" class="item-text" id="text_okonchania_second" [name]="zakluchenie[2]" placeholder="1.8K" [(ngModel)]="zakluchenie[2]" [ngClass]="ChangeColor_compation + '-field'">
            <p class="category-text">Подписки</p>
          </div>
        </div>
        <div class="flex-container">
          <div>
            <input type="text" class="item-text" id="text_okonchania_third" [name]="zakluchenie[3]" placeholder="2.3K" [(ngModel)]="zakluchenie[3]" [ngClass]="ChangeColor_compation + '-field'">
            <p class="category-text">Загрузки</p>
          </div>
        </div>
        <div class="flex-container">
          <div>
            <input type="text" class="item-text" id="text_okonchania_fourth" [name]="geo_location[1]" placeholder="2.1" [(ngModel)]="geo_location[1]" [ngClass]="ChangeColor_compation + '-field'">
            <p class="category-text">Предметы</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      function changeBackgroundColor(color) {
        document.getElementById('content').style.backgroundColor = color;
      }
    </script>
  </div>
</div>

</body>
</html>
