.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.header-nav ul li {
  flex-grow: 1;
}

.header-nav ul li button {
  width: 100%;
}
